apiVersion: v1
kind: Secret
metadata:
    name: "{{ _gitea_name }}-admin-credentials"
    namespace: "{{ _gitea_namespace }}"
data:
    username: "{{ 'administrator' | b64encode }}"
    password: "{{ gitea_admin_password | b64encode }}"
