apiVersion: v1
kind: List
items:
- kind: Service
  apiVersion: v1
  metadata:
    name: "{{ _gitea_name }}"
    namespace: "{{ _gitea_namespace }}"
    labels:
      app: "{{ _gitea_name }}"
  spec:
    selector:
      app: "{{ _gitea_name }}"
    ports:
    - name: gitea
      port: 3000
      protocol: TCP
      targetPort: 3000
    sessionAffinity: None
    type: ClusterIP
{% if _gitea_load_balancer|bool %}
- kind: Service
  apiVersion: v1
  metadata:
    name: "{{ _gitea_name }}-ssh"
    namespace: "{{ _gitea_namespace }}"
    labels:
      app: "{{ _gitea_name }}"
  spec:
    selector:
      app: "{{ _gitea_name }}"
    ports:
    - name: gitea-ssh
      port: 2022
      protocol: TCP
      targetPort: 2022
    sessionAffinity: None
    type: LoadBalancer
{% endif %}
metadata:
  resourceVersion: ""
