apiVersion: v1
kind: Secret
metadata:
    name: "{{ _gitea_name }}-user-credentials"
    namespace: "{{ _gitea_namespace }}"
data:
    username: "{{ _giteauser.username | b64encode }}"
    password: "{{ _giteauser.password | b64encode }}"
